.margen {
    margin-top: 50px;
}

.body {
    background-color: rgb(212, 209, 212);
}
.custom-navbar {
    background-color: lightcoral; /* Cambiar a lightcoral */
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
 
  .FontTitulos {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

@media (max-width: 600px) {
    /* Ajustes para pantallas pequeñas */
    .mi-clase {
        font-size: 14px;
        padding: 10px;
    }
}

.card-title {
    font-size: 1.25rem;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.payment-method img {
    width: 50px;
    margin-right: 10px;
}

.order-summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.order-summary h4 {
    margin-bottom: 20px;
}

.botones {
    background: lightpink;
    margin-right: 10px;
    border: none; 
    color: #000; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.botones:hover {
    background: rgb(192, 114, 144);
}
.card-img-top {
    height: 200px; /* Ajusta la altura según lo necesites */
    object-fit: cover; /* Esto asegura que la imagen cubra el área sin distorsionarse */
}
